.mvm-has-annotation.annotation {
  background: transparent !important;
  display: inline;
  @apply static cursor-pointer;
}

.annotation-text {
  @apply relative;
  display: inline;
  margin-right: -0.25rem;
  transition: all 0.25s ease;
  background-color: #D8D8D8;
}

.annotation-aside {
  @apply text-gray-600;
  padding-top: 16px;
  right: 0;
  h3 {
    @apply font-display text-gray-600;
    font-size: 18px;
  }
  p {
    margin-bottom: 16px !important;
  }

  @include grid('lg') {
    @apply absolute ml-auto w-1/3;
    @apply pl-10;
  }
}

#lyrics .annotation-excerpt * {
  @apply font-body text-gray-600 font-medium;
  font-size: 15px;
}

#lyrics .annotation:hover,
#lyrics .annotation.is-open {
  .annotation-text {
    background-color: #F0E0AD;
    transition: all 0.25s ease;
  }

  .annotation-aside h3 {
    @apply text-black;
    transition: all 0.25s ease;
  }
}


.annotation-video {
  @apply mb-4 bg-gray-400 rounded;
  max-height: 0px;
  padding-bottom: 0px;
  iframe {
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
  }
}

.is-open .annotation-video iframe {
  opacity: 1;
  transition: opacity 0.5s ease 0.5s;
}

.is-open .annotation-aside {
  @apply border-solid border-gold-bright;
  border-left-width: 3px;
}
