.banner .brand {
  @apply no-underline border-none;
  @apply flex-col px-4;

  svg {
    max-width: 100%;
  }

  @include grid('lg') {
    @apply flex-row items-end;
  }
}

.page-header {
  text-align: center;
  @apply mt-32;
}

.page-header h1 {
  @apply font-eternal uppercase text-red-dark;
  font-size: 120px;
}

p,
.alert {
  @apply font-body mb-4;
}


a {
  @apply font-body font-bold underline;
}
