.home #hero {
  h1 {
    @apply font-captain font-normal text-gold-light uppercase;
    line-height: .85;
    font-size: 72px;
    @include grid('lg') {
      font-size: 96px;
    }
  }
  p {
    @apply text-gold-bright font-normal;
  }

  .container {
    @apply px-4 flex-col py-8;

    .col:first-of-type { @apply mb-8; }

    @include grid('lg') {
      @apply flex-row py-20;
      .col:first-of-type { @apply mb-0; }
    }
  }
}

.home #intro {
  @apply border-b border-gray-400 my-10 mx-4;
  font-size: 18px;
  @include grid('lg') {
    @apply mx-0;
  }
}

.home #intro .row {
  @apply w-full;

  p {
    @apply text-gray-600;
    font-size: 16px;
    line-height: 1.4;
  }

  @include grid('lg') {
    @apply w-1/2 my-8 mr-auto ml-0;
    p { font-size: 20px; }
  }
}


#lyrics .container {
  @apply px-4;
  @include grid('lg') {
    padding-left: 98px;
  }
}

#lyrics p {
  @apply text-gray-900 font-normal mb-8;
  line-height: 1.5;
  font-size: 16px;

  @include grid('lg') {
    font-size: 22px;
  }
}

#lyrics h4 {
  @apply font-display uppercase text-red-bright;
  font-size: 16px;

  // On large screens, move speaker to left
  @include grid('lg') {
    position: relative;
    text-align: right;
    display: inline-block;
    left: -98px;
    top: 33px;
    width: 78px;
  }
}
