.home #hero {
  h1 {
    @apply font-captain font-normal text-gold-light uppercase;
    line-height: .85;
    font-size: 72px;
    @include grid('lg') {
      font-size: 96px;
    }
  }
  p {
    @apply text-gold-bright font-normal;
  }

  a {
    @apply text-gold-light;
  }

  .container {
    @apply px-4 flex-col py-8;

    .col:first-of-type { @apply mb-8; }

    @include grid('lg') {
      @apply flex-row py-20;
      .col:first-of-type { @apply mb-0; }
    }
  }
}

.home #intro {
  font-size: 28px;
  @include grid('lg') {
    @apply mx-0;
  }

  mark {
    @apply bg-gold-bright;
  }
}

.home #intro .container .wrap {
  @apply border-b border-gray-400 my-4 mx-auto px-4;

  p {
    @apply text-gray-600;
    font-size: 16px;
    line-height: 1.4;
  }

  @include grid('lg') {
    @apply w-1/2 mb-8 mt-16 mr-auto ml-0;
    p { font-size: 20px; }
  }
}


#lyrics .container {
  @apply px-4;
  @include grid('lg') {
    padding-left: 98px;
  }
}

#lyrics p {
  @apply text-gray-900 font-normal mb-8;
  line-height: 1.5;
  font-size: 16px;

  @include grid('lg') {
    font-size: 22px;
  }
}

#lyrics h4 {
  @apply font-display uppercase text-red-bright;
  font-size: 16px;

  // On large screens, move speaker to left
  @include grid('lg') {
    position: relative;
    text-align: right;
    display: inline-block;
    left: -98px;
    top: 33px;
    width: 78px;
  }
}


.template-lyrics #footer {
  @apply border-t-2 border-gray-400;
  @apply mb-64 mt-32 pt-12 pb-64;
  @include grid('lg') {
    @apply mb-64 mt-32 pt-24;
  }
}


.template-lyrics #footer .container {
  @apply flex-col px-4;

  img {
    width: 90%;
    max-width: 400px;
    @apply mb-4;
  }

  @include grid('lg') {
    @apply flex-row;
  }
}

.template-lyrics #footer .col {
  @include grid('lg') {
    @apply px-4;
  }
}

.template-lyrics #footer #left-col {
  @apply mb-16;
  img { @apply mb-4; }
  @include grid('lg') {
    @apply mb-20;
    img { @apply mb-8; }
  }
}


.error404 .page-header {
  margin-top: 0;
}

// .error404 *,
.error404 .container {
  position: relative;
  z-index: 2;
}

.error404 #app {
  @apply pt-32 pb-32;
}

.error404 .image-background {
  height: 100vh;
  width: 100%;
  @apply absolute;
  z-index: 0;
  top: 0;
  left: 0;
  picture {
    width: 100%;
    height: 100%;
    source,
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
