.home #intro {
  @apply border-b border-gray-400 my-10;
  font-size: 18px;
  .row {
    @apply w-1/2 my-8 mr-auto ml-0;
    p {
      @apply text-gray-600;
      font-size: 20px;
      line-height: 1.4;
    }
  }
}


#lyrics p {
  @apply text-gray-900 font-normal mb-8;
  font-size: 22px;
  line-height: 1.5;
}

#lyrics h4 {
  @apply font-display uppercase text-red-bright;
  font-size: 16px;

  // On large screens, move speaker to left
  @include grid($large) {
    position: relative;
    text-align: right;
    display: inline-block;
    left: -98px;
    top: 33px;
    width: 78px;
  }
}
