$grid: (
  "xl": "1280px",
  "lg": "1024px",
  "med": "768px",
  "sm": "640px"
);




// $large: "1266px";

$red-dark: #7F2D14;

@mixin grid($above) {
  @include breakpoint(map-get($grid, $above)) {
    @content;
  }
}

// ==========================================================================
// Plyr Overrides
// ==========================================================================

$plyr-color-main: hsl(45, 32%, 93%);
$plyr-font-family: 'commuters-sans', 'sans-serif';

$plyr-audio-controls-bg: #fff;
$plyr-audio-control-color: "#491709";
$plyr-audio-control-color-hover: #fff;
$plyr-audio-control-bg-hover: "#B5431F";

$plyr-audio-progress-buffered-bg: $red-dark;
$plyr-tooltip-bg: $red-dark;
$plyr-tooltip-color: #fff;
